{% extends "sidenav.html" %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block main %}

{% for items in album %}
    <div style="margin-bottom: 20px;">
        <div>
            <h1>{{items.title}}</h1>
            {% if items.artwork|length > 0 %}
                <img src="{{ items.artwork.url }}" style="width: 100px; height: 100px; float: left; margin-right: 10px;" />
            {% endif %}
            <p>Artist: {{items.artist}}</p>
            <p>Genre: {{items.genre_choice}}</p>
            <p>Uploaded by: {{ items.uploaded_by }}</p>
            {% ifequal items.uploaded_by request.user%}
                <a href="/edit/{{items.id}}/">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
                <a href="/delete/{{items.id}}/">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>

                {% endifequal %}
        </div>
    </div>
{% endfor %}

{% endblock %}
