{% for items in album %}
    <div style="margin-bottom: 20px;">
        <div>
            <h1>{{items.title}}</h1>
            {% if items.artwork|length > 0 %}
                <img src="{{ items.artwork.url }}" style="width: 100px; height: 100px; float: left; margin-right: 10px;" />
            {% endif %}
            <p>Artist: {{items.artist}}</p>
            <p>Genre: {{items.genre_choice}}</p>
            <p>Uploaded by: {{ items.uploaded_by }}</p>
            {% ifequal items.uploaded_by request.user%}
                <a href="/edit/{{items.id}}/">EDIT</a>
                <a href="/delete/{{items.id}}/">DELETE</a>
            {% endifequal %}
        </div>
    </div>
{% endfor %}

