
<a href='/album_upload/'>Upload Album</a>

<a href='/userdetails/{{ request.user.id }}'>Your Profile</a>

<a href='/logout/'>Logout</a>



<h1><a href='/' style="text-decoration: none;">Goodjamz</a></h1>

<br><br>



    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter.qs %}
        <div>
            <h1><a href= '/album/{{ obj.id }}'>{{ obj.title }}</a> by {{ obj.artist }}</h1>
            <h2>Total Stars: {{ obj.total_ratings }}</h2>
            <h2>Average Stars: {{ obj.average_rating }}</h2>
            {% if obj.artwork|length > 0 %}
                <img src="{{ obj.artwork.url }}" style="width: 100px; height: 100px; float: left; margin-right: 10px;" />
            {% endif %}
            <p>Uploaded By: {{obj.uploaded_by}}</p>

        </div>
        <br><br><br><br><br>
        <p>How good is this album, son?</p>
        <form action='/rating/{{ obj.id }}/' method=POST>
            {% csrf_token %}
            <input type='radio' name='rating' value='1'> 1 <br>
            <input type='radio' name='rating' value='2'> 2 <br>
            <input type='radio' name='rating' value='3'> 3 <br>
            <input type='radio' name='rating' value='4'> 4 <br>
            <input type='radio' name='rating' value='5'> 5
            <input type='submit' value='VOTE'>
        </form>

</div>

{% endfor %}