{% for username in user%}
    <h1>{{username.email}}</h1>
{% endfor %}

<h2>Wishlist: </h2>

{% ifequal wishlist|length 0 %}
    <h3>Nothing in your wishlist!</h3>
{% else %}
    {% for obj in wishlist %}
        <div>
            <h1><a href= '/album/{{ obj.id }}'>{{ obj.title }}</a> by {{ obj.artist }}</h1>
            <h2>Total Stars: {{ obj.total_ratings }}</h2>
            <h2>Average Stars: {{ obj.average_rating }}</h2>
            <img src="{{ obj.artwork.url }}" style="width: 100px; height: 100px; float: left; margin-right: 10px;" />
            <p>Uploaded by {{ obj.uploaded_by }}</p>
        </div>
    {% endfor %}
{% endifequal %}